
.header-style{
    /* background-color: rgb(6, 72, 126); */
    background-image: linear-gradient(rgb(155, 7, 175) ,rgb(2, 2, 143));
    color: aliceblue;
}
table {
    border-collapse: collapse;
}

td,
th {
    border: 2px solid rgb(13, 14, 13);
    padding: 5px 10px;
    font-size: 20px;
}

.table-color1 {
    background-color: antiquewhite;
}

.table-color2 {
    background-color: rgb(215, 226, 250);
}

.table-color3 {
    background-color: rgb(248, 250, 215);
}
#see-more-button{
    display: none;
    font-size: 17px;
}
#no-result{
    display: none;
}
#spiner{
    display: none;
}